body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

text {
    font-size: 12px;
    fill: rgb(10, 4, 4);
}

body {
    margin: 100px;
    text-align: center;
}

#result {
    display: block;
    width: 400px;
    height: 200px;
    justify-content: center;
}

div.justified {
    margin: 50px;
    display: flex;
    justify-content: center;
}